
body {
  font-family: sans-serif;
}

table.cal {
  border-collapse: collapse;
  border-spacing: 1;
}

.cal td {
  border: 1px solid gray;
  padding: 10px;
}

.calendar span.month-name, .calendar span.epoch, .calendar span.date {
  display: block;
}

.calendar span.month-name, span.epoch {
  font-size: 11px;
}

.calendar span.month-name {
  visibility: hidden;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
}

.calendar span.date {
  font-weight: bold;
}

.calendar span.epoch {
  margin-top: 5px;
}

.calendar span.month-first {
  visibility: visible;
}

.calendar td.month-first {
  background: #dddddd;
}

.calendar td.today {
  border-style: dashed;
  border-width: 2px;
}

.calendar td.future {
  border-style: dotted;
  border-width: 2px;
}

.calendar td, .scale td {
  cursor: pointer;
}

.calendar td .epoch, .scale td .epoch {
  cursor: auto;
}

.scale span.hours, .scale-minutes span.hours {
  margin-right: 5px;
  font-weight: bold;
}

.scale td {
  text-align: right;
}

.calendar td.selected, .scale td.selected {
  background: #ddddff;
}

.calendar td:hover, .scale td:hover {
  background: #ddffdd;
}

/*
.scale-minutes tbody {
  display: block;
  height: 500px;
  width: 200px;
  overflow: auto;
}
*/

div.panel {
  margin: 18px 0px;
}

.panel table th {
  text-align: right;
  width: 80px;
}

.louw .year, .louw .day, .louw .minute, .louw .millisecond {
}

.louw .month, .louw .hour, .louw .second {
}

.louw .year, .louw .month {
  border-right: 3px solid #bbb;
}

.louw .hour, .louw .minute {
  border-right: 3px solid #bbb;
}

.louw .day, .louw .second {
  border-right: 7px solid #bbb;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container > * {
  flex: 1;
  margin: 0 5px;
}

.scroll {
  overflow-y: auto;
  height: 540px;
}

.shrink {
  flex: 0 1 auto;
}

.grow {
  flex: 1 1 auto;
}

